body {
    background-color: black;
}

#header-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* #img-6 {
  opacity: 0.5;
} */

/* ---controls the css of smaller screen devices---*/
@media (max-width:800px) {
    #header-img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        
    }

    /* ---nav bar css of smaller screen devices---*/
body {margin:0;}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.nav-link) {
  background-color: #111;
}

.nav-link {
  background-color: #ffee00;
}
    
}

/* ---nav bar css--- */


body {margin:0;}



#nav-bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.nav-link) {
  background-color: #111;
}

.nav-link {
  background-color: #ffee00;
}

/*---video css--- */
#video {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* ---flex box--- */

#container {
  display: flex;
}

/* ---email--- */
#email {
  background-color: #000000;
  color: rgb(255, 255, 255);
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
}

/* ---submit button--- */
#submit {
  background-color: #ffee00;
  border-radius: 10%;
  color: rgb(3, 3, 3);
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
}

 /* ---sign-up---*/
#sign-up {
  color: white;
  font-size: 20px;
  text-align: center;
}

/* ---form--- */
form {
 text-align: center;
}

/* ---info--- */
#album-info {
  color: white;
  text-align: center;
  font-size: 20px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#link {
  color: white;
  text-decoration: none;
  animation-name: balvin;
  animation-duration: 4s;
  animation-delay: 1s;
}

@keyframes balvin {
  0% {color: yellow;}
  25% {color: aqua;} 
  50% {color: yellow;}
  75% {color: red;}
  100% {color: yellow;}
}

#link:hover {
  color: #ffee00;
  font-size: 25px;
}
