body {
    background-color: black;
}

#header-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* controls the css of smaller screen devices */
@media (max-width:800px) {
    #header-img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        
    }

    /* nav bar css of smaller screen devices*/
body {margin:0;}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.nav-link) {
  background-color: #111;
}

.nav-link {
  background-color: #ffee00;
}
    
}

/* nav bar css */
body {margin:0;}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.nav-link) {
  background-color: #111;
}

.nav-link {
  background-color: #ffee00;
}

/* video css */
#video {
    display: block;
    margin-left: auto;
    margin-right: auto;
}